<!doctype html>
<html lang="{{ app.request.locale|split('_')[0] }}" {{ sonata_seo_html_attributes() }}>
    {% block head %}
        <head {{ sonata_seo_head_attributes() }}>
            {% block metadata %}{{ sonata_seo_metadatas() }}{% endblock %}
            {% block title %}
                {{ sonata_seo_title() }}
            {% endblock %}

            {% block head_stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}
            {% block head_javascripts %}{% endblock %}
        </head>
    {% endblock %}
    {% block body %}
        <body>
            {% block body_content %}{% endblock %}
            {% block body_javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </body>
    {% endblock %}
</html>
